/* Acervo */

.acervo {
  display: flex;
}

.links-relacionados {
    list-style-type: none;
}

.logo {
    text-align: center;
}

.lista-acervo {
    display: grid;
    grid-template-columns: 50% 50% ;
    column-gap: 10%;
    row-gap: 10%;
    grid-template-rows: 38% 38%;

    .item {
      border: 0;
      padding: 10px;
      text-align: left;
    }
}

.saiba-mais {
    border: 1px solid gray;
}

.saiba-mais,
.links-relacionados > a {
    border-radius: .35rem;
    margin: 0 0 0 -5px;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem;
    color: var(--light-font-color);

    &:hover {
        color: var(--heading-color);
        background: var(--light-background);
    }
}

.icone {
    width: 16px;
    height: 16px;
}

.icone use {
  fill: purple;
}

.icone .camera {
  fill: red;
}

.icone .documento{
  fill: blue;
}

.icone .link{
  fill: #000;
}
