<footer class="footer flex">


    <section class="container">
        <nav class="footer-links">
            {{ range .Site.Menus.footer }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}

            <div>
          Aninga.org é um projeto gerado a partir de uma literatura coletiva e colaborativa, e possível, graças ao empenho de autorxs e editorxs em compartilhar conhecimento e experiências através destes documentos. Belém do Grão Pará, 2021. Site desenvolvido em <a href="https://gohugo.io/"> Hugo</a>, hospedado em Gitlab e mantido por <a href="http://njira.tech">http://njira.tech</a>. 
            </div>


</nav>
  </section>

    {{- $opts := dict "minify" hugo.IsProduction -}}
    {{ $features := resources.Get "ts/features.ts" | js.Build $opts | fingerprint }}
    <script defer src="{{ $features.RelPermalink }}" data-enable-footnotes="{{ .Site.Params.enableFootnotes | default true }}"></script>

</footer>
