<div class="conteudos">
{{ $icones := "/icones/open-iconic.svg" }}

{{ if gt (len .Params.galeria) 0 }}
    <svg class="icone" viewBox="0 0 8 8">
      <use class="camera" xlink:href="{{ $icones }}#camera-slr" ></use>
    </svg>
{{ end }}

{{ if gt (len .Params.pdfs) 0 }}
    <svg class="icone" viewBox="0 0 8 8">
        <use class="documento" xlink:href="{{ $icones }}#document"></use>
    </svg>
{{ end }}

{{ if gt (len .Params.audios) 0 }}
    <svg class="icone" viewBox="0 0 8 8">
        <use xlink:href="{{ $icones }}#musical-note"></use>
    </svg>
{{ end }}

{{ if .Params.links_relacionados }}
    <svg class="icone" viewBox="0 0 8 8">
        <use class="link" xlink:href="{{ $icones }}#link-intact"></use>
    </svg>
{{ end }}
</div>
